---
title: Vecka 2
date: "2024-03-17"
keywords: ["localStorage", "points"]
---





 Jag har skrivit koden för constatena och funktionerna. Jag har skapat en övervakare som övervakar spelets status och delar ut kort till dealern och spelaren och räknar summan av deras poäng. 