---
title: Vecka 4
date: "2024-05-13"
keywords: ["klar"]
---


Jag har skrivit klart bas coden för att kunna göra spelet, jag har stöt på problem med mina buttons detta löste jag med lite hjälp av open ai. De jag har kvar nu är delarna som inte viktiga för att köra spelet med ändå gör den finare och roligare att spela.
